<!DOCTYPE html>
<html lang="en">

<head>
	<title>Admin Interface</title>
	<meta charset="utf-8">
	<meta name="description" content="MAPTEK Coding Assessment Homepage">
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<script src="javascripts/bootstrap.min.js" defer></script>



	<!--Vue-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

	<!--UI JS and CSS-->
	<script src="javascripts/ui_admin.js" defer></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/ui_admin.css">
</head>

<body>
	<div id="app">
		<!-- Navigation bar -->
		<div id="app">
		<!-- Navigation bar -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:0;border:0;margin:0">
			<div class="container" id="headers">
				<!-- Brand -->
				<a class="navbar-brand" href="/admin.html"><img src="images/logo.png" width="168" height="97"></a>

				<!-- Button used for toggling to drop down -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- This navbar will collapse when screen is too small -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Left-align navbar -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<span class="navbar-text white-text">{{ displayName }}</span>
							<a href="admin.html"><button class="button_top btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Candidate</button></a>
							<a href="question.html"><button class="button_top btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Question</button></a>
							<a href="account.html"><button class="button_top btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Account</button></a>
							<button v-on:click="logout" class="button_top btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Log out</button>
						</li>						
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
		    	<ul class="nav nav-tabs" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#Add_Question">&nbsp;Add Question</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#Assign_Question">Assign Question</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#View_Questions">&nbsp;View Questions</a>
				    </li>
				</ul>
				<div class="tab-content">
				    <div id="Add_Question" class="container tab-pane active"><br>
				      	<form id="uploadQuestionForm" method="post" @submit=uploadQuestion enctype="multipart/form-data">
							<h1>Question Details</h1>
							<div v-if="!uploadQuestionSuccess">
								<!-- Print error messages, if any, when creating admin -->
								<p v-if="uploadQuestionErrors.length">
									<b>Please correct the following error(s):</b>
									<ul>
										<li v-for="error in uploadQuestionErrors">{{ error }}</li>
									</ul>
								</p>
								<label for="title">Title</label>
								<input type="text" name="title" v-model="title" placeholder="Enter question title" class="form-control" required>
								<label for="body">Body</label>
								<textarea type="text" name="body" v-model="body" placeholder="Enter question description" name="bodyDescription" class="form-control" required>
								</textarea>
								<label for="image">Upload File (.pdf, .jpeg, .jpg, .png, .txt only)</label>

								<!-- Display option to upload image -->
								<div v-if="!image">
									<!-- <input type="file" name="file"> -->
									<input type="file" name="file" ref="uploadedFile" @change="createImage">
									<!-- <input type="file" name="file" @change="onFileChange"> -->
								</div>
								<!-- Display the image selected -->
								<div v-else>
									<img :src="image" />
									<button @click="removeImage">Remove image</button>
								</div>
							</div>

							<!-- This will only show on sucessful upload of question -->
							<p v-if="uploadQuestionSuccess">
								Successfully uploaded question!
							</p>
							<br>
							<button v-if="!uploadQuestionSuccess" type="submit" type="submit" value="submit" class="btn btn-success btn-primary">Submit</button>
							<button class="btn btn-secondary" v-on:click="checked=!checked; uploadQuestionSuccess=false">Close</button>
						</form>
				    </div>

				    <div id="Assign_Question" class="container tab-pane fade"><br>
						<hr>
						<h2>Assign Assessment Questions</h2>
						<!-- This form allows the admin to select multiple questions to assign-->
						<!-- The questions are based on ID and name (i.e. Q<ID>: <Name>)-->
						<div class="form-group">

							<!-- This link will allow the admin to upload another question to the database-->
							<a class="btn btn-success" v-on:click="assign_tests.push(test)" href="#" role="button">Add additional test</a>
							<hr>
							<p>Select questions to assign to the candidate(s) and choose the due date for the assessment.</p>
						</div>
						<!-- This form allows the admin to select multiple questions to assign-->
						<!-- The questions are based on ID and name (i.e. Q<ID>: <Name>)-->
						<div v-for="(item, key) in assign_tests">
							<div class="form-group">
								<select class="multiple_search_box1" class="js-example-basic-multiple" v-model='item.chosenQuestions' v-select="allQuestions" style="width: 100%" multiple></select>
								<hr>
							</div>
							<div class="form-group">
								<select class="multiple_search_box" class="js-example-basic-multiple" v-model='item.chosenCandidates' v-select="allCandidates" style="width: 100%" multiple></select>
								<hr>
							</div>
							<div>
								<div class="form-group row">
									<label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
									<div class="col-sm-10">
										<input type="datetime-local" class="form-control" class="dueDate" v-model="item.testEndDate">
									</div>
								</div>
								<hr>
							</div>
						</div>
						<button type="submit" value="submit" class="btn btn-success btn-lg btn-block" @click='assignTestToCandidates'>Submit Invitation</button>
				    </div>

				    <div id="View_Questions" class="container tab-pane fade"><br>
						<!-- {{Qustions1}} -->
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th scope="col"></th>
									<th scope="col">Question</th>
									<th scope="col">Description</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody v-for="(QDetail, index) in Qustions1">
								<tr>
									
									<td>{{QDetail.id}}</td>
									<td>{{QDetail.title}}</td>
									<td>{{QDetail.body}}</td>
									
								</tr>
							</tbody>
						</table>
				    </div>
		    </div>		  
		</div>
		</div>
</div>
</body>
</html>
